<div class="container">
    <div class="row">
        <span class="Title-header text-center">Work Experience</span>
        <!-- This column is for the work experience  -->
        <div class="col-md" id="work-exp">
            <div class="row">
                <div class="col-sm text-center">
                    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="job-date">Since October 2018</span>
                        <a href="https://www.ludwingroup.com" target="_blank" rel="noopener noreferrer">
                        <img class="ludwin-logo text-center" src="assets/img/logo-ludwin.png" alt="Logo Ludwin" >
                        </a>
                    </div>
                    <div class="col-sm">
                       <span class="job-title">IT Infrastructure and Integration Manager</span> 
                       <span>
                           <ul class="job-description">
                            <li>Organize and supervise the entire production service.</li>
                            <li>Ensure the maintenance in operational conditions of the IT infrastructure.</li>
                            <li>Guarantee a defined level of qucoality of service and security</li>
                            <li>Ensure that the documentation and procedures are updated, in accordance with the standards in force</li>
                            <li>Write installation, operation and integration test plans and plan test tasks</li>
                            <li>Analyze dashboards to monitor the continuity of IT production</li>
                            <li>Evaluate the quality of the solutions delivered and propose corrective actions</li>
                           </ul>
                       </span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="job-date">From December 2014 to September 2018</span>
                        <a href="https://www.ludwingroup.com" target="_blank" rel="noopener noreferrer">
                        <img class="ludwin-logo text-center" src="assets/img/logo-ludwin.png" alt="Logo Ludwin" >
                        </a>
                    </div>
                    <div class="col-sm" style="margin-left: 21px;">
                       <span class="job-title">Network Systems Administrator</span> 
                       <span>
                           <ul class="job-description">
                            <li>Designed and implemented monitoring services for the
                                company IT infrastrcuture.</li>
                            <li>Monitored daily backups, antivirus status, shared
                                storage space and network activity, adjusting network
                                equipment and settings as needed.
                                </li>
                            <li>Guarantee a defined level of qucoality of service and security</li>
                            <li>Planned, implemented, and maintained a Windows
                                domain based infrastructure</li>
                            <li>Migrate the company local servers to a private
                                dedicated cloud service.</li>
                            <li>Analyze dashboards to monitor the continuity of IT production</li>
                            <li>Ensured data/media recoverability by implementing a
                                schedule of system backups and database archive
                                operations.
                                </li>
                           </ul>
                       </span>
                    </div>

                </div>
                
                <div >

                </div>
            </div>
            

        </div>
        <!--This column is for the education -->
        <div class="col-md" id="work-exp2">
            <div class="row">
                <div class="col-sm text-center">
                    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="job-date">Since septembre 2017</span>
                        <a href="https://www.ludwingroup.com" target="_blank" rel="noopener noreferrer">
                        <img class="ludwin-logo text-center" src="assets/img/logo-ludwin.png" alt="Logo Ludwin" >
                        </a>
                    </div>
                    <div class="col-sm">
                       <span class="job-title">Webmaster</span> 
                       <span>
                           <ul class="job-description">
                            <li>Managing gambling website for the african continent</li>
                            <li>Monitored website functionality across leading web browsers and mobile applications, and ensured compatibility with major operating systems.</li>
                            <li>Managed the domain the goup domain names(DNS records, emails, sub-domain).</li>
                            <li>Integrated daily and weekly updates to company website for sales promotions, special events, and company news, with responsive HTML pages and promotions.</li>
                            <li>Managed and administered Google Analytics and Webmaster Tools.</li>
                            <li>Administer internet/intranet infrastructure, including components such as web, file transfer 
                                protocol (FTP), news and mail servers.</li>
                            <li>Monitor web developments through continuing education, reading, or participation in 
                                professional conferences, workshops, or groups</li>
                            <li>Managed the SSL certifcations</li>
                           </ul>
                       </span>
                    </div>

                </div>
                
                <div >

                </div>
            </div>
        </div>
    </div>

</div>